[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
Network=host

AutoUpdate=registry
Timezone=Asia/Dhaka

Environment=PUID=1000
Environment=PGID=1000
Environment=WEBUI_PORT=58080
Environment=TORRENTING_PORT=6881

#SecurityLabelDisable=true
Volume=%h/data/torrents:/downloads:Z
Volume=%h/.config/qbittorrent:/config:Z
Volume=%h/Downloads:/downloads2:Z

User=0
UserNS=keep-id

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
