[Container]
Image=docker.io/vaultwarden/server:latest

AutoUpdate=registry
Network=host
HostName=vw-%H
EnvironmentFile=%h/vaultwarden/.env
Volume=%h/vaultwarden/data:/data:Z

[Service]
TimeoutStartSec=900
Restart=always
ExecStartPre=/usr/bin/mkdir -p %h/vaultwarden/data
ExecStartPre=/usr/bin/touch %h/vaultwarden/.env

[Install]
WantedBy=default.target
